<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Property</title>
</head>
<body>
{% for property in object_list %}
<img src="{{ property.property_image.url }}" height="200px" width="400px" ><br>
{{ property.property_title }}<br>
{{ property.property_address }}<br>
{{ property.property_city }}<br>
{{ property.property_state }}<br>
{{ property.property_pin }}<br>
{{ property.property_price }}<br>
{{ property.property_bedroom }}<br>
{{ property.property_bathroom }}<br>
{{ property.property_sq_feet }}<br>
{{ property.property_lot_size }}<br>
{{ property.property_garage }}<br>
{{ property.property_description }}<br>
{% endfor %}

{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    </li>
{% endif %}
    <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
{% endif %}
</ul>
{% else %}
    <h1>Nothing available</h1>
{% endif %}









</body>
</html>