<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Property</title>
</head>
<body>
{% include 'header.html' %}
<br> <br> <br> <br> <br> <br> <br>
{% if form.errors %}

{{ form.errors }}

{% endif %}

{% if message %}

{{ message }}

{% endif %}
<form method="post" action="/property/view_property/" enctype="multipart/form-data" style="background-color:aqua;">
    {% csrf_token %}
   {{ form.as_p }}
    <input type="submit" value="Register Property">
</form>
<footer>
    {% include 'footer.html' %}
</footer>
</body>
</html>