<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="{{ property.property_image.url }}" height="200px" width="400px" ><br>
{{ property.property_title }}<br>
{{ property.property_address }}<br>
{{ property.property_city }}<br>
{{ property.property_state }}<br>
{{ property.property_pin }}<br>
{{ property.property_price }}<br>
{{ property.property_bedroom }}<br>
{{ property.property_bathroom }}<br>
{{ property.property_sq_feet }}<br>
{{ property.property_lot_size }}<br>
{{ property.property_garage }}<br>
{{ property.property_description }}<br>
</body>
</html>