<html>
<head>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span2">
      <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"  alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
         Username : <p>{{ username }}</p>
      {% if is_seller %}
        <p> Seller </p>
        {% else %}
        <p> Buyer </p>
      {% endif %}
      </blockquote>
      <p>
       First Name : <i class="icon-male"></i> <b> {{ first_name }} </b> <br>
       Last Name: <i class="icon-male"> </i> <b> {{ last_name }} </b> <br>
        Email : <i class="icon-envelope"></i> <b> {{ user_email }} </b> <br>
       User Description <i class="icon-comment"></i> {{ user_description }} <br>
      </p>
        <form method="post" action="/login/update/{{ user_id }}">
            {% csrf_token %}
            <input type="submit" value="Update Details">
        </form>
    </div>
    </div>
  </div>
</body>
</html>